services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: smsGateway
      MYSQL_ALLOW_EMPTY_PASSWORD: true
    ports:
      - "14000:3306"
#      - "10000:3306"
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5



  gateway:
    container_name: gateway
    depends_on:
      mysql:
        condition: service_healthy
      conf-server:
        condition: service_started
    build:
      context: gatway
    ports:
      - "7001:7001"
    networks:
      - backend

  discovery:
    container_name: discovery
    build:
      context: discovery
    ports:
      - "8888:8888"

    networks:
      - backend

  conf-server:
    container_name: config-server
    build:
      context: conf-server
    ports:
      - "9000:9000"
    networks:
      - backend

  sms:
    container_name: sendmsg
    build:
      context: sendmsg
    ports:
      - "6005:6005"
    networks:
      - backend

  receiver:
    depends_on:
      mysql:
        condition: service_healthy
      conf-server:
        condition: service_started
    container_name: receiver
    build:
      context: receiver
    networks:
      - backend

networks:
  backend:
    driver: bridge
