spring:
  application:
    name: discovery

server:
  port: 8888
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://127.0.0.1:8888/eureka/

